<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.school.mapper.PollOptionMapper">
    
    <resultMap type="PollOption" id="PollOptionResult">
        <result property="optionId"    column="option_id"    />
        <result property="pollId"    column="poll_id"    />
        <result property="optionText"    column="option_text"    />
        <result property="voteCount"    column="vote_count"    />
    </resultMap>

    <sql id="selectPollOptionVo">
        select option_id, poll_id, option_text, vote_count from poll_option
    </sql>

    <select id="selectPollOptionList" parameterType="PollOption" resultMap="PollOptionResult">
        SELECT
        o.option_id,
        o.poll_id,
        o.option_text,
        COUNT(r.record_id) AS vote_count
        FROM poll_option o
        LEFT JOIN poll_record r ON o.option_id = r.option_id
        <where>
            <if test="pollId != null"> AND o.poll_id = #{pollId} </if>
            <if test="optionText != null and optionText != ''"> AND o.option_text = #{optionText} </if>
            <!-- voteCount 是统计字段，不在 where 中过滤 -->
        </where>
        GROUP BY o.option_id, o.poll_id, o.option_text
    </select>


    <select id="selectOptionWithVoteCountByPollId" parameterType="long" resultType="map">
        SELECT
            o.option_id,
            o.option_text,
            COUNT(r.record_id) AS voteCount
        FROM poll_option o
                 LEFT JOIN poll_record r ON o.option_id = r.option_id
        WHERE o.poll_id = #{pollId}
        GROUP BY o.option_id, o.option_text
    </select>


    <select id="selectPollOptionByOptionId" parameterType="Long" resultMap="PollOptionResult">
        <include refid="selectPollOptionVo"/>
        where option_id = #{optionId}
    </select>


    <insert id="insertPollOption" parameterType="PollOption" useGeneratedKeys="true" keyProperty="optionId">
        insert into poll_option
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pollId != null">poll_id,</if>
            <if test="optionText != null and optionText != ''">option_text,</if>
            <if test="voteCount != null">vote_count,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pollId != null">#{pollId},</if>
            <if test="optionText != null and optionText != ''">#{optionText},</if>
            <if test="voteCount != null">#{voteCount},</if>
         </trim>
    </insert>

    <update id="updatePollOption" parameterType="PollOption">
        update poll_option
        <trim prefix="SET" suffixOverrides=",">
            <if test="pollId != null">poll_id = #{pollId},</if>
            <if test="optionText != null and optionText != ''">option_text = #{optionText},</if>
            <if test="voteCount != null">vote_count = #{voteCount},</if>
        </trim>
        where option_id = #{optionId}
    </update>

    <delete id="deletePollOptionByOptionId" parameterType="Long">
        delete from poll_option where option_id = #{optionId}
    </delete>

    <delete id="deletePollOptionByOptionIds" parameterType="String">
        delete from poll_option where option_id in 
        <foreach item="optionId" collection="array" open="(" separator="," close=")">
            #{optionId}
        </foreach>
    </delete>

    <select id="selectPollOptionByPollId" parameterType="Long" resultMap="PollOptionResult">
        select option_id, poll_id, option_text, vote_count from poll_option where poll_id = #{pollId}
    </select>



</mapper>